// buttons 

%button-base{
width: 120px;
height: 30px;
border: none;
border-radius: .375rem;
cursor: pointer;
padding: 4px;
background: var(--Accent_color);
color: var(--text-white);
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;

}

%button-base-small{
width: 100px;
height: 25px;
border: none;
background-color: red;
padding: 4px;
background: var(--Accent_color);
border-radius: 0.18rem;
color: var(--text-white);
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
}

%button-base-cta{
width: 6rem;
height: 30px;
border: none;
padding: 4px;
background: var(--Accent_color);
border-radius: 0.18rem;
color: var(--text-white);
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
cursor: pointer;
font-size: 13px;
line-height: 15px;
background: #FF3300;
border-radius: 3px;

}
%button-banner-cta{
width: 120px;
height: 30px;
border: none;
padding: 4px;
background: var(--text-white);
border-radius: 0.18rem;
color: var(primary-color);
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
cursor: pointer;
font-size: 13px;
line-height: 15px;
border-radius: 3px;

}