.footer{
    color: var(--text-white);
}
.footer_container{
    padding: 6.25rem 5rem;
    display: grid;
    gap: 3.575rem;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Default layout */
    justify-content: space-between;
    @media screen and (max-width: 48rem) {
    padding: 4.25rem 2rem;
        gap: 3.575rem;
        grid-template-columns: 1fr 1fr 1fr;
        }
    @media screen and (max-width: 26.5625rem) {
    padding: 4.25rem 2rem;
    row-gap: 2.875rem;
    gap: 5.875rem;
        grid-template-columns: 1fr 1fr;
    }

}
.footer_link_container{
    display: flex;
    flex-direction: column;
    gap: .625rem;
}
.footer_links{
    display: flex;
    flex-direction: column;
    gap: .625rem;
    a{
        color: var(--text-gray);
        font-size: var(--font-links2-size);
        font-family: 'Poppins', sans-serif;
    }
}

.footer_links_head{
    p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        font-size: var(--font-links3-size);
    }
}
.footer-bottom{
    margin-bottom: 3.125rem;
}
.footer-bottom-container{
    display: flex;
    color: var(--text-white);
    text-align: center;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        font-weight: 500;
    }
}
.footer-bottom-social{
    display: flex;
    gap: 1.875rem;
}
