@forward 'header';
@forward 'hero';
@forward "brands";
@forward "features";
@forward "cta_banner";
@forward "testimonials";
@forward "faq_wrapper";
@forward "teamwork_cop";
@forward "start-learning";
@forward "footer-section"